@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

//everything between the <p> tags
p {
  font-weight: 300;
  color: #111;
}

body {
  height: 1000px;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/bg.jpg);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: #fff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}

//buttons
.btn {
  font-size: 1em;
  color: black;
  background: #ff0157;
  display: inline-block; //Menu box
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px; //Specifies the minimum, maximum, and optimal spacing between grapheme clusters.
  transition: 10s; //Shorthand property combines four of the transition properties into a single property.
}

.btn:hover {
  letter-spacing: 6px; //Specifies the minimum, maximum, and optimal spacing between grapheme clusters.
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 5s;
}

header .sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 05);
}

//logo
header .logo {
  color: #111;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .sticky .logo {
  color: #111;
}

header .logo span {
  color: #ff0157;
}

//navi header
header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #111;
  font-weight: 500px;
}

header .sticky .navigation li a {
  color: #111;
}

//hover over header in red
header .navigation li a:hover {
  color: #ff0157;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}

.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 150%;
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//Menu page selection
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  font-weight: 400;
  color: #111;
}

a.a2 {
  text-decoration: none;
  box-shadow: none;
  color: red;
  cursor: pointer;
}

a.a3 {
  text-decoration: none;
  box-shadow: none;
  color: turquoise;
  cursor: pointer;
}

//Testimonials Page section

.testimonials {
  background: url(images/bg2.jpg);
  background-size: cover;
}

.white .titleText,
.white p {
  color: #fff;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: 40px;
}

.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials .content .box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .content .box .text {
  text-align: center;
}

.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}

//contact page
.contact {
  background: url(images/bg3.jpg);
  background-size: cover;
}

//contact form page
.contactForm {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}

//font size for Request new recipe
.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

//text area section for new recipe
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

//send button
.contactForm .inputBox input[type="Submit"] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  header,
  header .sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100%-68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
  }
}
//menu toggle section
.menuToggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url(images/menu.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

//menu close section
.menuToggle.active {
  background: url(images/close.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
header .sticky .menuToggle {
  filter: invert(1);
}

section {
  padding: 20px;
}

.banner .content h2 {
  font-size: 3em;
  color: #fff;
}
.row {
  flex-direction: column;
}

.row .col50 {
  position: relative;
  width: 100%;
}

.row .col50 .imgBx {
  height: 300px;
  margin-top: 20px;
}

//comment page
.comment {
  background: url(images/bg3.jpg);
  background-size: cover;
}

//comment form page
.commentForm {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-top: 50px;
  position: relative;
  margin: auto;
}

//font size for comment
.commentForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.conmmentForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

//text area section for comment
.commentForm .inputBox input,
.commentForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

//save button
.commentForm .inputBox input[type="Submit"] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

//saved items page
.SavedItems {
  background: url(images/bg3.jpg);
  background-size: cover;
}

//saveditems form page
.SaveItemsForm {
  padding: 100px 100px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 5000px;
  margin-top: 1000px;
  position: relative;
  margin: auto;
}

.drp_but {
  background-color: #ffffff;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.drp {
  position: relative;
  display: inline-block;
}

.drp-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drp-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drp-content a:hover {
  background-color: #f1f1f1;
}

.drp:hover .drp-content {
  display: block;
}

.drp:hover .dropbtn {
  background-color: grey;
}
